<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Proyecto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
<h2>Nuevo Proyecto</h2><hr />
<form method="post" th:action="@{/proyecto/guardar}">
    <div class="form-group">
        <label for="nombreproyecto">Nombre del Proyecto</label>
        <input name="nombreproyecto" type="text" class="form-control" id="nombreproyecto">
    </div>
    <div class="form-group">
        <label for="usuario_owner">Usuario Responsable</label>
        <input name="usuario_owner" type="text" class="form-control" id="usuario_owner">
    </div>
    <a th:href="@{/proyecto/listar}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</body>
</html>