<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="container">
<h2>Editar Area</h2>
<hr />
<form method="post" th:action="@{/area/save}" th:object="${area}">
    <input type="hidden" th:field="*{idarea}">
    <div class="form-group">
        <label for="nombrearea">Nombre del Area</label>
        <input type = "text" class="form-control" th:field="*{nombrearea}" id="nombrearea">
    </div>

    <a class="btn btn-danger" th:href="@{/area}">Cancelar</a>
    <button type="submit" class="btn btn-primary">Registrar</button>

    <hr />

    <div class="container">
        <h1>Lista de Usuarios del Area</h1>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Correo del usuario</th>
                <th>Nombre del usuario</th>
                <th>Apellidos del usuario</th>
            </tr>
            <tr th:each="usuario,v : ${listaUsuarios}">
                <td th:text="${v.index + 1}"></td>
                <td th:text="${usuario.correo}"></td>
                <td th:text="${usuario.nombres}"></td>
                <td th:text="${usuario.apellidos}"></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>